workflows/rh/rejection-emails/workflow.json
{
  "name": "Messages de Refus Personnalisés et Empathiques",
  "nodes": [
    {
      "parameters": {
        "content": "## 💌 Messages de Refus Personnalisés\n\n**Objectif:** Envoyer des messages de refus personnalisés, empathiques et constructifs aux candidats non retenus.\n\n**Déclencheur:** Changement de statut candidat dans Google Sheets (Statut = 'Refusé')\n\n**Variables requises:**\n- OPENAI_API_KEY\n- SENDGRID_API_KEY\n- GOOGLE_SHEETS_ID_CANDIDATS",
        "height": 220,
        "width": 360
      },
      "id": "sticky-1",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 6 }] }
      },
      "id": "schedule-trigger",
      "name": "Vérification Toutes 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "value": "={{$vars.GOOGLE_SHEETS_ID_CANDIDATS}}", "__rl": true, "mode": "id" },
        "sheetName": { "value": "Candidats", "__rl": true, "mode": "name" },
        "filters": {
          "conditions": [
            { "keyName": "Statut", "condition": "eq", "keyValue": "Refusé" },
            { "keyName": "Message Refus Envoyé", "condition": "eq", "keyValue": "" }
          ]
        }
      },
      "id": "get-rejected",
      "name": "Candidats Refusés Sans Message",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gsheets-cred", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ]
        }
      },
      "id": "check-email",
      "name": "A un Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer {{$vars.OPENAI_API_KEY}}" }]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "gpt-4-turbo-preview" },
            {
              "name": "messages",
              "value": "=[{\"role\":\"system\",\"content\":\"Tu es un responsable RH empathique. Rédige des messages de refus bienveillants, personnalisés et constructifs qui laissent une bonne impression de l'entreprise.\"},{\"role\":\"user\",\"content\":\"Rédige un email de refus pour:\\n\\nPrénom: \" + $json['Prénom'] + \"\\nPoste: \" + $json['Poste Visé'] + \"\\nPoints forts du candidat: \" + ($json['Points Forts'] || 'Non spécifiés') + \"\\nRaison refus (interne): \" + ($json['Raison Refus'] || 'Profil ne correspond pas') + \"\\n\\nL'email doit:\\n- Être personnalisé avec le prénom\\n- Remercier pour l'intérêt\\n- Reconnaître les qualités vues\\n- Expliquer sans détails techniques\\n- Encourager pour la suite\\n- Ouvrir la porte à de futurs contacts\\n- Ton: chaleureux, professionnel, 150-200 mots\"}]"
            },
            { "name": "max_tokens", "value": "500" }
          ]
        }
      },
      "id": "generate-message",
      "name": "GPT-4 Génère Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 200]
    },
    {
      "parameters": {
        "url": "https://api.sendgrid.com/v3/mail/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer {{$vars.SENDGRID_API_KEY}}" }]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"personalizations\": [{\"to\": [{\"email\": \"{{ $('Candidats Refusés Sans Message').first().json['Email'] }}\", \"name\": \"{{ $('Candidats Refusés Sans Message').first().json['Prénom'] }} {{ $('Candidats Refusés Sans Message').first().json['Nom'] }}\"}]}], \"from\": {\"email\": \"{{$vars.RH_EMAIL}}\", \"name\": \"{{$vars.COMPANY_NAME}} - Équipe RH\"}, \"subject\": \"Suite de votre candidature - {{ $('Candidats Refusés Sans Message').first().json['Poste Visé'] }}\", \"content\": [{\"type\": \"text/plain\", \"value\": \"{{ $json.choices[0].message.content }}\"}]}"
      },
      "id": "send-email",
      "name": "Envoyer Email Refus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "value": "={{$vars.GOOGLE_SHEETS_ID_CANDIDATS}}", "__rl": true, "mode": "id" },
        "sheetName": { "value": "Candidats", "__rl": true, "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message Refus Envoyé": "=OUI",
            "Date Message Refus": "={{ new Date().toISOString().split('T')[0] }}"
          }
        }
      },
      "id": "update-sheet",
      "name": "Marquer Message Envoyé",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1640, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gsheets-cred", "name": "Google Sheets OAuth2" } }
    }
  ],
  "connections": {
    "Vérification Toutes 6h": { "main": [[{ "node": "Candidats Refusés Sans Message", "type": "main", "index": 0 }]] },
    "Candidats Refusés Sans Message": { "main": [[{ "node": "A un Email?", "type": "main", "index": 0 }]] },
    "A un Email?": { "main": [[{ "node": "GPT-4 Génère Message", "type": "main", "index": 0 }], []] },
    "GPT-4 Génère Message": { "main": [[{ "node": "Envoyer Email Refus", "type": "main", "index": 0 }]] },
    "Envoyer Email Refus": { "main": [[{ "node": "Marquer Message Envoyé", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "rh" }, { "name": "recrutement" }, { "name": "communication" }]
}
